#root {
  max-width: 1280px;
  max-height: fit-content;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: lightsalmon;
}

.header-title {
  color: rgb(197, 88, 9);
  margin-bottom: 3rem;
}

.container-pets {
  display: flex;
  flex-direction: row;
  margin-bottom: 3rem;
  justify-content: center;
}

.badge {
  width: 9rem;
  color: rgb(15, 15, 15);
  border-color: blue;
  border: 1px solid;
  padding: 1rem 0;
  border-radius: 10px;
}
.card {
  margin-right: 0.5rem;
  border-radius: 15px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@media  (max-width: 756px) {
  .container-pets {
    display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
    
  }
  .card {
    margin: 0 1rem 2rem 1rem;
  }
}